<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<script src="http://www.amcharts.com/lib/amcharts.js" type="text/javascript"></script>
		<script type="text/javascript">
			var chart;
			var chartData = [];
			var chartCursor;
			var day = 0;
			var firstDate = new Date();
			var count = 0;
			var deviceID = "1f0036000147343337373738";
			var accessToken = "25dfc450c2733a52989c60ddc96c0944e45f54c1";
			var getFunc = "analog_val_1"
			firstDate.setDate(firstDate.getDate() - 500);

			AmCharts.ready(function() {
			    // generate some data first
			    // generateChartData();

			    // SERIAL CHART    
			    chart = new AmCharts.AmSerialChart();
			    chart.pathToImages = "http://www.amcharts.com/lib/images/";
			    chart.marginTop = 0;
			    chart.marginRight = 10;
			    chart.autoMarginOffset = 5;
			    chart.zoomOutButton = {
			        backgroundColor: '#000000',
			        backgroundAlpha: 0.15
			    };
			    chart.dataProvider = chartData;
			    chart.categoryField = "date";

			    // AXES
			    // category
			    var categoryAxis = chart.categoryAxis;
			    categoryAxis.parseDates = true; // as our data is date-based, we set parseDates to true
			    categoryAxis.minPeriod = "DD"; // our data is daily, so we set minPeriod to DD
			    categoryAxis.dashLength = 1;
			    categoryAxis.gridAlpha = 0.15;
			    categoryAxis.axisColor = "#DADADA";

			    // value                
			    var valueAxis = new AmCharts.ValueAxis();
			    valueAxis.axisAlpha = 0.2;
			    valueAxis.dashLength = 1;
			    chart.addValueAxis(valueAxis);

			    // GRAPH
			    var graph = new AmCharts.AmGraph();
			    graph.title = "red line";
			    graph.valueField = "visits";
			    graph.bullet = "round";
			    graph.bulletBorderColor = "#FFFFFF";
			    graph.bulletBorderThickness = 2;
			    graph.lineThickness = 2;
			    graph.lineColor = "#b5030d";
			    graph.negativeLineColor = "#0352b5";
			    graph.hideBulletsCount = 50; // this makes the chart to hide bullets when there are more than 50 series in selection
			    chart.addGraph(graph);

			    // CURSOR
			    chartCursor = new AmCharts.ChartCursor();
			    chartCursor.cursorPosition = "mouse";
			    chart.addChartCursor(chartCursor);

			    // SCROLLBAR
			    var chartScrollbar = new AmCharts.ChartScrollbar();
			    chartScrollbar.graph = graph;
			    chartScrollbar.scrollbarHeight = 40;
			    chartScrollbar.color = "#FFFFFF";
			    chartScrollbar.autoGridCount = true;
			    chart.addChartScrollbar(chartScrollbar);

			    // WRITE
			    chart.write("chart1div");
			    
			    // set up the chart to update every second
			    setInterval(function () {
			        // normally you would load new datapoints here,
			        // but we will just generate some random values
			        // and remove the value from the beginning so that
			        // we get nice sliding graph feeling
			        var visits;

			        requestURL = "https://api.spark.io/v1/devices/" + deviceID + "/" + getFunc + "/?access_token=" + accessToken;
			        $.getJSON(requestURL, function(json){
			        	console.log(json.result + "units");
			        	visits = parseInt(json.result);

			        	// remove datapoint from the beginning if at least 50 data points
			        	if(count >= 50){
			        		chart.dataProvider.shift();
			        	}else{
			        		count++;
			        	}
			        	
			        	// add new one at the end
			        	day++;
			        	var newDate = new Date(firstDate);
			        	newDate.setDate(newDate.getDate() + day);
			        	chart.dataProvider.push({
			        	    date: newDate,
			        	    visits: visits
			        	});
			        	chart.validateData();

			        });
			    }, 1000);

				/** NEW SHIT NEW SHIT NEW SHIT NEW SHIT NEW SHIT */
				/** NEW SHIT NEW SHIT NEW SHIT NEW SHIT NEW SHIT */
				/** NEW SHIT NEW SHIT NEW SHIT NEW SHIT NEW SHIT */
				/** NEW SHIT NEW SHIT NEW SHIT NEW SHIT NEW SHIT */
				
				
				/** NEW SHIT NEW SHIT NEW SHIT NEW SHIT NEW SHIT */
				/** NEW SHIT NEW SHIT NEW SHIT NEW SHIT NEW SHIT */
				/** NEW SHIT NEW SHIT NEW SHIT NEW SHIT NEW SHIT */
				/** NEW SHIT NEW SHIT NEW SHIT NEW SHIT NEW SHIT */

			});
		</script>
		<style>
			.fa-desc {
				margin-top: 30%;
			}
			.tip-heading{
				margin-bottom: 30px;
			}
			.back-arrow {
				margin-top: 100%;
				margin-left: 50%;
			}
				.back-arrow:hover {
					cursor: pointer;
				}
		</style>
		<script type="text/javascript">
			$(document).ready(function(){
				$('.back-arrow').click(function(){
					window.location = "/trey_dashboard";
				});
			});
		</script>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
		  <div class="container">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/home">
		        <i class="fa fa-lg fa-medkit"></i>
		        eos Health 
			  </a>    
			</div>
		  
		    <div class="collapse navbar-collapse" id="main-nav-collapse">
		      <div class="nav navbar-nav navbar-right">
		          <form action="/home" class="button_to" method="post">
			          <div>
			          	<input class="btn btn-warning navbar-btn" type="submit" value="Sign Out" />
			          </div>
		          </form>
		      </div>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="/about">About</a></li>
		        <li><a href="/about">eos Shop</a></li>
		        <li><a href="/contacts/new">Contact Us</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
		<div class="row">
			<div class="col-md-2">	
				<i class="fa fa-4x fa-chevron-left back-arrow"></i>
			</div>
			<div class="col-md-7">
				<div class="well">
					<h1 class="text-center">Substance C</h1>
					<div id="chart1div" style="width: 100%; height: 340px;"></div>
				</div>
				<div class="row">
					<div class="col-md-1 col-md-offset-4">
						<i class="fa fa-3x fa-check-circle-o fa-desc"></i>
					</div>
					<div class="col-md-3">
						<h3 class="tip-heading">Tips for improving: </h3>
					</div>
				</div>
				<table class="table">
					<tr class="success">
						<td>[Nutrition Recommendations to help improve, for example eating more fruits and vegetables to avoid high cholesterol]</td>
					</tr>
					<tr class="success">
						<td>[Routine Recommendations, something along the lines of run more to improve cardiovasicular health and thus blood oxygen content]</td>
					</tr>
					<tr class="success">
						<td>[Miscallaneous specific to a certain substance, whatever it may be]</td>
					</tr>
				</table>
				<div class="row">
					<div class="col-md-1 col-md-offset-4">
						<i class="fa fa-3x fa-times-circle-o fa-desc"></i>
					</div>
					<div class="col-md-3">
						<h3 class="tip-heading">Things to avoid: </h3>
					</div>
				</div>
				<table class="table">
					<tr class="danger">
						<td>[Something along the lines of drawing a hard line; for example, avoiding alcohol altogether to promote a healthy lifestyle and general wellbeing]</td>
					</tr>
					<tr class="danger">
						<td>[Miscallaneous specific to a certain substance, such as avoiding fast food and other high cholesterol/low nutrition foods]</td>
					</tr>
				</table>
			</div>
			<div class="col-md-2">
				<div class="well">
					<h4>Percent Oxygen:</h4>
					<h1>
						{{ bigvalue[0:5] | safe }}
					</h1>
				</div>
			</div>
		</div>
	</body>
</html>